body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: #222;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 50rem;
  margin: 10rem auto;
  // min-height: 70vh;
  border-radius: 10px;
  box-shadow: 0 0 2rem 1rem rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
