.chat-box {
  padding: 2rem;
  background-color: white;
  height: 60vh;
  overflow-y: scroll;
  &::after {
    content: "";
    clear: both;
    display: table;
  }
  .chat {
    padding: 1.5rem 2rem;
    min-width: min-content;
    max-width: 60%;
    clear: both;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    hyphens: auto;
    &-bot {
      background-color: #333;
      float: left;
    }
    &-user {
      float: right;
      color: black;
      background-color: #f1f1f1;
    }
  }
}
