.form {
  padding: 2rem;
  display: flex;
  gap: 0.5rem;
  background-color: #f1f1f1;
  &-input {
    padding: 1rem;
    font-size: 1.8rem;
    transition: all 0.2s;
    border-radius: 5px;
    border: 1px solid #454545;
    width: 75%;
    &:focus {
      outline: none;
      width: 80%;
    }
  }
  &-button {
    flex: 1;
    background-color: #333;
    color: #f1f1f1;
    font-size: 1.8rem;
    transition: all 0.2s;
    border-radius: 5px;
    border: none;
    &:hover {
      background-color: black;
    }
  }
}
